<div>
  <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
    [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
    [autoScale]="autoScale" (select)="staticModal.show()">
  </ngx-charts-line-chart>
</div>


<clr-modal [(clrModalOpen)]="showDeleteConf" [clrModalSize]="'lg'">
  <h3 class="modal-title"></h3>
  <div class="modal-body">
    <ngx-charts-line-chart [view]="[800,600]" [scheme]="colorScheme" [results]="data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
      [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale" (select)="onSelect($event)">
    </ngx-charts-line-chart>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="showDeleteConf = false">Cancel</button>
  </div>
</clr-modal>
