label {
    display: block;
    padding-left: 15px;
  }

  input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .row {
      margin-left: 5px;
  }

  clr-checkbox {
      margin-right: 5px;
  }
  