<div class="container" fxLayout="column" fxLayoutGap="20px">
  <div class="card">
    <div class="card-block">
       
      <div *ngIf="isLoading">Loading Resource Types ...</div>
      <table class="table" *ngIf="!isLoading">
        <thead>
        <tr>
          <th>Resource Type</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
        <tr *ngFor="let item of items">
          <td>
            {{item.resourceTypeName}}
          </td>
          <td>
            {{item.resourceTypeDesc}}
          </td>
          <td>
            <a (click)="edit(item)">
                <clr-icon shape="pencil" class="is-solid"></clr-icon>
            </a>
          </td>
          <td>
            <a ref (click)="confirmDelete(item)">
                <clr-icon shape="trash" class="is-solid"></clr-icon>
            </a>
          </td>
        </tr>

      </table>
      <div class="card-block">
          <button class="btn btn-primary" (click)="add()">
            <clr-icon shape="plus"></clr-icon>Add New</button>
        </div>
    </div>
  </div>
  <div class="card" *ngIf="selectedItem">
    <div class="card-block">
      <app-resource-type-detail [item]="selectedItem" (itemChange)="updateList($event)" ></app-resource-type-detail>
    </div>
  </div>
</div>
<clr-modal [(clrModalOpen)]="showDeleteConf">
    <h3 class="modal-title">Confirm Deletion</h3>
    <div class="modal-body">
        <p>Are you sure you want to delete?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="onDelete()">Delete</button>  
        <button type="button" class="btn btn-outline" (click)="showDeleteConf = false">Cancel</button>
  
    </div>
</clr-modal>

