<div class="container" fxLayout="column" fxLayoutGap="20px">
  <div class="card">
    <div class="card-body">
      <div *ngIf="isLoading">Loading Groups ...</div>
      <table class="table" *ngIf="!isLoading">
        <tr>
          <th>Group Name</th>
          <th>Description</th>
          <th>Group Manager</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let group of groups">
          <td>
            {{group.groupName}}
          </td>
          <td>
            {{group.groupDesc}}
          </td>
          <td>
            {{group.groupManagerName}}
          </td>
          <td>
            <a (click)="edit(group)">
              <i class="fas fa-edit" ></i>
            </a>
          </td>
          <td>
            <a ref (click)="onDelete(group.groupId)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>

      </table>
      <div class="card-body">
        <button class="btn btn-primary" (click)="add()">
          <i class="fas fa-plus-square" ></i>Add New</button>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="selectedGroup">
    <div class="card-body">
      <app-group-detail [group]="selectedGroup" [pmList]="managers" [groupOptions]="groupOptionsList" (groupChange)="updateList($event)" ></app-group-detail>
    </div>
  </div>
</div>

