.filter-label {
    width: 85px;
    overflow: hidden;
    margin-inline-end: 5px;
    white-space: nowrap;
    padding-left: .40rem;
}

.filter-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.filter-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center
}

.checkbox label {
    display: flex;
    padding-left: .4rem
}