<div class="modal-header">
    <div class="modal-title pull-left">
      {{title}}
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="modal-body">
    <div *ngIf="isLoading">Loading Budgets ...</div>
    <table class="table table-sm" *ngIf="!isLoading">
      <tr>
  
        <td>Approved Date</td>
        <td>Budget Year</td>
        <td>Amount</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
      <tr *ngFor="let budget of budgets | groupBudgetFilter:budgetType">
        <td>
          {{budget.approvedDateTime | date:'yyyy-MM-dd'}}
        </td>
        <td class="pull-right">
            {{budget.year}}
          </td>
        <td class="pull-right">
          {{budget.amount | currency:'USD':'symbol-narrow':'0.0-0'}}
        </td>
        <td>
          <a (click)="edit(budget)">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a ref (click)="onDelete(budget.budgetId)">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
  
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="close()">
      <i class="fas fa-plus-square"></i>Close</button>
  </div>
  
