<div *ngIf="isLoading">
  <span class="spinner spinner-inline">
    Loading...
  </span>
  <span>
    Loading...
  </span>
</div>
<div class="container-fluid" *ngIf="!isLoading">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink>Details</button>
      <ng-template [(clrIfActive)]="DetailsActive">
        <clr-tab-content>
          <app-project-detail [(project)]="currentProject" [createTemplate]="isTemplate" [groupList]="groups" [statusList]="status"
            [pmList]="projectManagers" [selectedView]="currentTab" [templateList]="templateList"></app-project-detail>
        </clr-tab-content>
      </ng-template>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (select)="setCurrentTab('Forecast')">Forecast</button>
      <ng-template [(clrIfActive)]="forecastActive">
        <clr-tab-content>
          <app-project-monthly-detail [(project)]="currentProject" [selectedView]="'Forecast'"></app-project-monthly-detail>
        </clr-tab-content>
      </ng-template>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (select)="setCurrentTab('Actuals')">Actuals</button>
      <ng-template [(clrIfActive)]="actualsActive">
        <clr-tab-content>
          <app-project-monthly-detail [(project)]="currentProject" [selectedView]="'Actuals'"></app-project-monthly-detail>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (select)="setCurrentTab('Proto')">Proto</button>
      <ng-template [(clrIfActive)]="protoActive">
        <clr-tab-content>
            <app-project-detail-by-month [(project)]="currentProject" [selectedView]="'Forecast'"></app-project-detail-by-month>
        </clr-tab-content>
      </ng-template>
    </clr-tab>

    <clr-tab>
      <button clrTabLink (select)="setCurrentTab('Vendors')">Vendors</button>
      <ng-template [(clrIfActive)]="vendorActive">
        <clr-tab-content>
          <app-vendor [(project)]="currentProject"></app-vendor>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
    <clr-tab>
      <button clrTabLink (select)="setCurrentTab('Milestone')">Milestones</button>
      <ng-template [(clrIfActive)]="milestoneActive">
        <clr-tab-content>
          <div class="card">
            <div class="card-header">
              <H4>Milestones</H4>
            </div>
            <div class="card-block">
              <app-project-milestones [(project)]="currentProject"></app-project-milestones>
            </div>
          </div>
        </clr-tab-content>
      </ng-template>
    </clr-tab>
  </clr-tabs>
</div>
