<div *ngIf="isLoading">
  <span class="spinner spinner-inline">
    Loading...
  </span>
  <span>
    Loading...
  </span>
</div>
<div class="row">
  <div class="column">
    <nav class="sidenav">
      <section class="sidenav-content">
        <label>
          <h4>Filters</h4>
        </label>
        <section class="form-block">
          <label>
            <h5>Organization</h5>
          </label>
          <app-group-filter [projectsByGroup]="projectsByGroup" (changeGroupFilter)="changeGroupFilter($event)"></app-group-filter>
        </section>
        <section class="form-block">
          <label>
            <h5>Year</h5>
          </label>
            <app-year-filter  [projectsByYear]="projectsByYear" (changeYearFilter)="changeYearFilter($event)"></app-year-filter>
        </section>
        <section class="form-block">
          <label>
            <h5>Status</h5>
          </label>
          <app-status-filter [projectsByStatus]="projectsByStatus" (changeStatusFilter)="changeStatusFilter($event)"></app-status-filter>
        </section>
        <section>
          <label>
            <h4>Select Budget</h4>
          </label>
          <clr-checkbox [(clrChecked)]="viewCapValues" (change)="showCapChart()" title="Show Capital Projections">
            <label class="filter-label">Capital</label>
          </clr-checkbox>

          <clr-checkbox [(clrChecked)]="viewExpValues" (change)="showExpChart()" title="Show Expense Projections">
            <label class="filter-label">Expense</label>
          </clr-checkbox>

        </section>

        <button class="btn btn-sm" title="Reset Filter" (click)="resetFilter()">Reset</button>
      </section>
    </nav>
  </div>
  <div class="column">
    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis"
      [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale">
    </ngx-charts-line-chart>
    <div></div>
  </div>
</div>


