<div class="container" fxLayout="column" fxLayoutGap="20px">
  <div class="card">
    <div class="card-block">
      <div *ngIf="isLoading">Loading Project Cost Types ...</div>
      <table class="table" *ngIf="!isLoading">
        <tr>
          <th>Role Name</th>
          <th>Description</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let item of items">
          <td>
            {{item.roleName}}
          </td>
          <td>
            {{item.roleDesc}}
          </td>
          <td>
            <a (click)="edit(item)">
                <clr-icon shape="pencil" class="is-solid"></clr-icon>
            </a>
          </td>
          <td>
            <a ref (click)="confirmDelete(item)">
              <clr-icon shape="trash" class="is-solid"></clr-icon>
            </a>
          </td>
        </tr>

      </table>
      <div class="card-block">
        <button class="btn btn-primary" (click)="add()">
          <clr-icon shape="plus" class="is-solid"></clr-icon>Add New</button>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="selectedItem">
    <div class="card-block">
      <app-role-detail [item]="selectedItem" (itemChange)="updateList($event)" ></app-role-detail>
    </div>
  </div>
</div>
<clr-modal [(clrModalOpen)]="showDeleteConf">
    <h3 class="modal-title">Confirm Deletion</h3>
    <div class="modal-body">
        <p>Are you sure you want to delete?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="onDelete()">Delete</button>  
        <button type="button" class="btn btn-outline" (click)="showDeleteConf = false">Cancel</button>
  
    </div>
</clr-modal>