<form (ngSubmit)="onSubmit()" name="itemForm" class="item-form" [formGroup]="itemForm" novalidate>
  <input readonly hidden formControlName="itemID" class="required">
  <div class="form-group">
    <label class="required">Name:</label>
    <label for="itemName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="itemForm.get('itemName').invalid
    && (itemForm.get('itemName').dirty || itemForm.get('itemName').touched)">
      <input id="itemName" type="text" size="15" formControlName="itemName" placeholder="Status Name" required>

      <span class="tooltip-content">
        Status Name is required!
      </span>
    </label>
  </div>
  <div class="form-group">
    <label class="center-block">Description:</label>
    <input type="text" size="25" formControlName="itemDesc" placeholder="Description">
  </div>


  <div class="form-group-row">
    <button class="btn btn-primary" type="submit" [disabled]="!itemForm.valid">
      <clr-icon shape="floppy" class="is-solid"></clr-icon>Save</button>
    <button type="button" class="btn btn-warning-outline" (click)="revert()">
      <clr-icon shape="redo"></clr-icon>Reset</button>

    <button type="button" class="btn btn-warning-outline" (click)="cancel()">
      <clr-icon shape="ban"></clr-icon>Cancel</button>
  </div>

</form>
