<form (ngSubmit)="onSubmit()" name="itemForm" class="item-form" [formGroup]="itemForm" novalidate>
  <input readonly hidden formControlName="itemID" class="required">
  <div class="form-group">
    <label class="center-block">Name:</label>
    <input class="form-control" formControlName="itemName" required>
    <div align="start" *ngIf="itemForm.controls.itemName.errors && !itemForm.controls.itemName.pristine">
      <div class="invalid-input">
        Status Name is required!
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="center-block">Description:</label>
    <input class="form-control" formControlName="itemDesc">
  </div>


  <div class="form-group-row">
    <button class="btn btn-primary" type="submit" [disabled]="!itemForm.valid">
      <i class="fas fa-save"></i>Save</button>
    <button type="button" class="btn btn-warning" (click)="revert()">
      <i class="fas fa-window-restore"></i>Reset</button>

    <button type="button" class="btn btn-warning" (click)="cancel()">
      <i class="fas fa-ban"></i>Cancel</button>
  </div>

</form>
