.border-bottom {
    border-bottom: 1px solid #ccc;
}

.border-right {
    border-right: 1px solid #ccc;
}

.no-border-bottom {
    border-bottom: none;
}

.head {
    background-color: #fafafa;
    color: #565656;
    font-weight: 600;
}

.warning {
    background-color: #fbefef;
    color: #6d2828;
    font-weight: 600;
}