<div *ngIf="isLoading">
  <span class="spinner spinner-inline">
    Loading...
  </span>
  <span>
    Loading...
  </span>
</div>
<div class="card" *ngIf="!isLoading">
  <div class="card-header">
    <h6>{{projectSummary.projectName}}</h6>
    <div>{{projectSummary.projectDesc}}</div>
  </div>
  <div class="card-block">
    <div *ngIf="!noWarning  && hasStartError" class="alert alert-warning alert-sm">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
          </div>
          <div class="alert-text">
            Today is beyond the planned start date and the project hasn't started.
          </div>
        </div>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="noWarning=true">
        <clr-icon aria-hidden="true" shape="close"></clr-icon>
      </button>
    </div>
    <div *ngIf="hasStatusError" class="alert alert-danger alert-sm">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="alert-text">
            Project is in a started status but has not start date.
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="hasStartDateError" class="alert alert-danger alert-sm">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <div class="alert-text">
            Project has a start date but is not in a started status.
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="!showMilestones">
    <div class="card-block">
      <app-project-card-summary [projectSummary]="projectSummary" *ngIf="showView=='summary'"></app-project-card-summary>
      <app-project-chart [project]="project" [enableModal]="true" *ngIf="showView=='chart'"></app-project-chart>
      <app-project-card-monthly-summary [project]="project" [projectSummary]="projectSummary" *ngIf="showView=='month'"></app-project-card-monthly-summary>
    </div>
    <div class="card-footer">
      <a (click)="showView='summary'" *ngIf="showView!='summary'" class="card-link">Summary</a>
      <a (click)="showView='chart'" *ngIf="showView!='chart'" class="card-link">Chart</a>
      <a (click)="showView='month'" *ngIf="showView!='month'" class="card-link">Details</a>
      <a *ngIf="allowEdit" (click)="editDetails(project.projectId)" class="card-link">Edit</a>
    </div>
  </ng-container>
  <ng-container *ngIf="showMilestones">
    <div class="card-block">
      <app-project-milestones [project]="project" *ngIf="showView=='summary'"></app-project-milestones>
      <app-project-milestone-chart [project]="project" *ngIf="showView=='chart'"></app-project-milestone-chart>
    </div>
    <div class="card-footer">
      <a (click)="showView='summary'" *ngIf="showView!='summary'" class="card-link">Summary</a>
      <a (click)="showView='chart'" *ngIf="showView!='chart'" class="card-link">Chart</a>
    </div>
  </ng-container>
</div>
