
.table-compact {
    text-align: center;
    font-size: .7rem;
}
.table.table-compact th,  .table.table-compact td {
    padding-left: .1rem;
    padding-right: .1rem;
}

.summaryLabel {
    min-width: 8rem;
    color: black;
    font-weight: bolder;
    margin-right: 1rem;
}

.row {
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;

}
div {
    font-size: .7rem;
}

.table-scroll {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
}


.warning {
    background-color: #fbefef;
    color: #6d2828;
    font-weight: 600;
}
