
.table-sm {
    text-align: center;
    font-size: .7rem;
}

.summaryLabel {
    min-width: 8rem;
    color: black;
    font-weight: bolder;
    margin-right: 1rem;
}

.row {
    padding-left: 18px;
    padding-top: 5px;
    padding-bottom: 5px;

}
div {
    font-size: .7rem;
}