<div class="container" fxLayout="column" fxLayoutGap="20px">
  <div class="card">
    <div class="card-body">
      <div *ngIf="isLoading">Loading Phases ...</div>
      <table class="table" *ngIf="!isLoading">
        <tr>
          <td>Phase Name</td>
          <td>Phase Description</td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <tr *ngFor="let phase of phases">
          <td>
            {{phase.phaseName}}
          </td>
          <td>
            {{phase.phaseDesc}}
          </td>
          <td>
            <a (click)="edit(phase)">
              <i class="fas fa-edit"></i>
            </a>
          </td>
          <td>
            <a ref (click)="onDelete(phase.phaseId)">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        </tr>

      </table>
      <div class="card-body">
        <button class="btn btn-primary" (click)="add()">
          <i class="fas fa-plus-square"></i>Add New</button>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="selectedPhase">
    <div class="card-body">
      <app-phase-detail [phase]="selectedPhase" (phaseChange)="updateList($event)" ></app-phase-detail>
    </div>
  </div>
</div>
