<div class="container">
  <div class="card">
    <div class="card-block">
      <div *ngIf="isLoading">Loading Phases ...</div>
      <table class="table" *ngIf="!isLoading">
        <tr>
          <th>Phase Name</th>
          <th>Phase Description</th>
          <th>Sort Order</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let phase of phases">
          <td>
            {{phase.phaseName}}
          </td>
          <td>
            {{phase.phaseDesc}}
          </td>
          <td>
              {{phase.order}}
            </td>
          <td>
            <a (click)="edit(phase)">
              <clr-icon shape="pencil" class="is-solid" ></clr-icon>
            </a>
          </td>
          <td>
            <a ref (click)="confirmDelete(phase)">
              <clr-icon shape="trash" class="is-solid"></clr-icon>
            </a>
          </td>
        </tr>

      </table>
      <div class="card-block">
        <button class="btn btn-primary" (click)="add()">
          <clr-icon shape="plus"></clr-icon>Add New</button>
      </div>
    </div>
  </div>
  <div class="card" *ngIf="selectedPhase">
    <div class="card-block">
      <app-phase-detail [phase]="selectedPhase" (phaseChange)="updateList($event)" ></app-phase-detail>
    </div>
  </div>
</div>
<clr-modal [(clrModalOpen)]="showDeleteConf">
    <h3 class="modal-title">Confirm Deletion</h3>
    <div class="modal-body">
        <p>Are you sure you want to delete?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="onDelete()">Delete</button>  
        <button type="button" class="btn btn-outline" (click)="showDeleteConf = false">Cancel</button>
  
    </div>
</clr-modal>
