<div class="card">
  <div *ngIf="isLoading" class="card-block">Is Loading...</div>
  <div *ngIf="!isLoading" class="card-block">
    <form (ngSubmit)="onSubmit()" name="projectForm" class="project-form" [formGroup]="projectForm" novalidate>
      <div class="row">
        <div class="column">
          <section class="form-block">
            <label>Project Details Details</label>
            <input readonly hidden formControlName="projectID" class="required">

            <div class="form-group">
              <label class="required">Name</label>
              <label for="projectName" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="projectName.invalid && projectName.dirty || projectName.touched">
                <input id="projectName" type="text" size="20" formControlName="projectName" placeholder="Project Name" required>
                <span class="tooltip-content">
                  Project Name is required!
                </span>
              </label>
            </div>
            <div class="form-group">
              <label for="projectDesc">Description</label>
              <input type="text" id="projectDesc" size="20" formControlName="projectDesc">
            </div>
            <div class="form-group">
              <label class="required">Project Group</label>
              <div class="select">
                <select formControlName="groupId"  required>
                  <option *ngFor="let group of groupList" [value]="group.groupId">{{group.groupName}}</option>
                </select>
              </div>
              <clr-tooltip *ngIf="projectGroup.invalid && (projectGroup.dirty || projectGroup.touched)">
                <clr-icon class="is-error" clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
                <clr-tooltip-content clrPosition="top-left" clrSize="sm" *clrIfOpen>
                  <span>Group is Required</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </div>



            <div class="form-group">
              <label for="projectManager" class="required">Project Manager</label>
              <div class="select">
                <select id="projectManager" formControlName="projectManager">
                  <option *ngFor="let pm of  pmList" [value]="pm.currentUser.userId">{{pm.currentUser.lastName}},&nbsp;{{pm.currentUser.firstName}}</option>
                </select>
              </div>
              <clr-tooltip *ngIf="projectManager.invalid && (projectManager.dirty || projectManager.touched)">
                <clr-icon class="is-error" clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
                <clr-tooltip-content clrPosition="top-left" clrSize="sm" *clrIfOpen>
                  <span>Project Manager is Required</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </div>
            <div class="form-group">
              <label class="required" for="projectStatus">Project Status</label>
              <div class="select">
                <select id="projectStatus" formControlName="statusId">
                  <option *ngFor="let status of statusList" [value]="status.statusId">{{status.statusName}}</option>
                </select>
              </div>
              <clr-tooltip *ngIf="projectStatus.invalid && (projectStatus.dirty || projectStatus.touched)">
                <clr-icon class="is-error" clrTooltipTrigger shape="info-circle" size="24"></clr-icon>
                <clr-tooltip-content clrPosition="top-left" clrSize="sm" *clrIfOpen>
                  <span>Project status is Required</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </div>
            <div class="form-group" *ngIf="createTemplate">
              <clr-checkbox [clrDisabled]="true" formControlName="isTemplate" [clrChecked]="true">
                Is Template?
              </clr-checkbox>
            </div>

            <div class="form-group" *ngIf="project.months.length==0&&project.projectId!=null">
              <label class="center-block">Project Template</label>
              <select class="form-control" formControlName="templateId" (change)="selectTemplate($event.target.value)">
                <option [value]=-1>--Select--</option>
                <option *ngFor="let template of  templateList" [value]="template.projectId">{{template.projectName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="required">Planned Start</label>
              <label for="plannedStartDate" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm" [class.invalid]="plannedStartDate.invalid && (plannedStartDate.dirty || plannedStartDate.touched)">
                <input id="plannedStartDate"  clrDate type="date" size="15" formControlName="plannedStartDate" required>
                <span class="tooltip-content">
                  Planned Start Date is required!
                </span>
              </label>

            </div>
            <div class="form-group">
              <label class="center-block">Actual Start</label>
              <input type="date" clrDate formControlName="actualStartDate">
            </div>

          </section>
        </div>
        <div class="column">
          <section class="form-block">
            <label>Captial Budget Details</label>

            <table class="table table-compact">
              <thead>
                <tr>
                  <th>Approved Date</th>
                  <th>Amount</th>
                  <th>Code</th>
                  <th>Comment</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody formArrayName="capBudgets">
                <tr *ngFor="let budget of projectForm.get('capBudgets').controls; let i=index" [formGroupName]="i">
                  <td>
                    <input type="date" formControlName="approvedDateTime" size="10">
                  </td>
                  <td class="pull-right">
                    <input type="number" formControlName="amount" size="10">
                  </td>
                  <td>
                    <input type="text" formControlName="accountingIdentifier" size="15">
                  </td>
                  <td>
                    <input type="text" formControlName="comments" size="15">
                  </td>
                  <td>
                    <a ref (click)="confirmDeleteBudget(0, i)" title="Delete Budget">
                      <clr-icon shape="trash" class="is-solid"></clr-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <button type="button" class="btn btn-sm btn-link" (click)="addBudget(0)">
                <clr-icon shape="plus"></clr-icon>Add Budget</button>
            </div>
          </section>
          <section class="form-block">
            <label>Expense Budget Details</label>

            <table class="table table-compact">
              <thead>
                <tr>
                  <th>Approved Date</th>
                  <th>Amount</th>
                  <th>Code</th>
                  <th>Comment</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody formArrayName="expBudgets">
                <tr *ngFor="let budget of projectForm.get('expBudgets').controls; let j = index;" [formGroupName]="j">
                  <td>
                    <input type="date" formControlName="approvedDateTime" size="10">
                  </td>

                  <td class="pull-right">
                    <input type="number" formControlName="amount" size="10">
                  </td>
                  <td>
                      <input type="text" formControlName="accountingIdentifier" size="15">
                    </td>
                    <td>
                      <input type="text" formControlName="comments" size="15">
                    </td>
                  <td>
                    <a ref (click)="confirmDeleteBudget(1, j)" title="Delete Budget">
                      <clr-icon shape="trash" class="is-solid"></clr-icon>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <button type="button" class="btn btn-sm btn-link" (click)="addBudget(1)">
                <clr-icon shape="plus"></clr-icon>Add Budget</button>
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <button class="btn btn-primary" type="submit" [disabled]="!projectForm.valid">
          <clr-icon shape="floppy" class="isFilled"></clr-icon>Save</button>
        <button type="button" class="btn btn-warning-outline" (click)="revert()" [disabled]="!projectForm.dirty">
          <clr-icon shape="undo"></clr-icon>Reset</button>
        <button type="button" class="btn btn-warning-outline" (click)="cancel()">
          <clr-icon shape="ban"></clr-icon>Cancel</button>
        <button type="button" *ngIf="project.months.length>0" class="btn btn-warning-outline" (click)="confirmDelete()">
          <clr-icon shape="trash"></clr-icon>Remove Months</button>
      </div>


    </form>
  </div>
</div>
<clr-modal [(clrModalOpen)]="showDeleteMonths">
  <h3 class="modal-title">Confirm Deletion</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete all months?</p>
    <p>Once deleted they cannot be return you must re-enter or start with a new template.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="removePeriods()">Delete</button>
    <button type="button" class="btn btn-outline" (click)="showDeleteMonths = false">Cancel</button>

  </div>
</clr-modal>
<clr-modal [(clrModalOpen)]="showDeleteBudget">
  <h3 class="modal-title">Confirm Deletion</h3>
  <div class="modal-body">
    <p>Are you sure you want to delete this budget?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="showDeleteBudget = false">Cancel</button>
    <button type="button" class="btn btn-warning" (click)="removeBudget()">Delete</button>
  </div>
</clr-modal>
