<div class="content-container">
  <main class="content-area">
    <div style="height:30px">
      <div style="float:left">
        <app-breadcrumbs></app-breadcrumbs>
      </div>
      <div style="float:right">
        <h4 style="margin-top:0px">{{pageTitle}}</h4>
      </div>
    </div>
    <router-outlet (setTitle)="setTitle($event)"></router-outlet>
  </main>

  <clr-vertical-nav [clrVerticalNavCollapsible]="true">


    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/dashboard/home">
      <clr-icon clrVerticalNavIcon shape="info-circle" size="16"></clr-icon>
      Home</a>

    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/groups">
      <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
      Groups</a>

    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/characteristics">
      <clr-icon clrVerticalNavIcon shape="tags"></clr-icon>
      Characteristics</a>

    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/projects" [queryParams]="{ $filter: 'IsTemplate eq false'}">
      <clr-icon clrVerticalNavIcon shape="info-circle" size="16"></clr-icon>
      Projects</a>

    <a clrVerticalNavLink href="#" routerLinkActive="active" routerLink="/configuration/templates" [queryParams]="{ $filter: 'IsTemplate eq true'}">
      <clr-icon clrVerticalNavIcon shape="info-circle" size="16"></clr-icon>
      Templates</a>


    <a clrVerticalNavLink href="" routerLinkActive="active" routerLink="/configuration/phase">
      <clr-icon clrVerticalNavIcon shape="info-circle" size="16"></clr-icon>
      Phases</a>


    <a clrVerticalNavLink href="" routerLinkActive="active" routerLink="/configuration/role">
      <clr-icon clrVerticalNavIcon shape="user" class="has-badge"></clr-icon>
      Roles
    </a>


    <a clrVerticalNavLink href="" routerLinkActive="active" routerLink="/configuration/resourcetype">
      <clr-icon clrVerticalNavIcon shape="wallet"></clr-icon>
      Resource Types
    </a>


    <a clrVerticalNavLink href="" routerLinkActive="active" routerLink="/configuration/fixedpricetype">
      <clr-icon clrVerticalNavIcon shape="wallet"></clr-icon>
      Fixed Price Types
    </a>


    <a clrVerticalNavLink href="" routerLinkActive="active" routerLink="/configuration/status">
      <clr-icon clrVerticalNavIcon shape="flag" class="is-solid"></clr-icon>
      Status
    </a>


    <a clrVerticalNavLink href="" routerLinkActive="active" routerLink="/configuration/accounts">
      <clr-icon clrVerticalNavIcon title="Users" shape="users" class="is-solid"></clr-icon>
      Users
    </a>




  </clr-vertical-nav>
</div>
