<!-- Menu -->
<div *ngIf="isLoading" class="busy-holder">
  <div class="busy spinner">
    Loading...
  </div>
</div>
<div *ngIf="isSaving" class="busy-holder">
  <div class="busy spinner">
    Saving...
  </div>
</div>
<div *ngIf="notStarted && selectedView=='Actuals' && !hasActuals && !noWarning" class="alert alert-warning">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
      </div>
      <span class="alert-text">
        There is not actual start date set for this project.
      </span>
    </div>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="noWarning=true">
    <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>

<div *ngIf="notStarted && selectedView=='Actuals' && hasActuals" class="alert alert-danger">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <span class="alert-text">
        There is not actual start date set for this project and there have been actuals added. Please go to the details tab and set
        the actual start date.
      </span>
    </div>
  </div>
</div>

<div style="height: 40px; margin-top: 10px">
  <div style="float:left" *ngFor="let menuItem of menuItems; let first = first; let last = last">
    <app-command-button [menuItem]="menuItem" [first]="first" [last]="last" (menuItemClick)="updateSelectedCells($event)"></app-command-button>
  </div>
  <div style="float:left">
    <div class="btn-group">
      <button type="button" class="btn tool-bar" (click)="resourceAddRow()">
        <clr-icon shape="user"></clr-icon>
      </button>
      <button type="button" class="btn tool-bar" (click)="fixedPriceAddRow()">
        <clr-icon shape="dollar" class="has-badge"></clr-icon>
      </button>
      <button type="button" class="btn tool-bar" (click)="projectMonthAddMonth()">
        <clr-icon shape="calendar" class="has-badge"></clr-icon>
      </button>
    </div>
  </div>
  <div style="float:right">
    <button class="btn btn-primary" type="button" (click)="onSubmit()" [disabled]="!projectForm.valid">
      <clr-icon shape="floppy" class="isFilled"></clr-icon>Save</button>
    <button type="button" class="btn btn-warning-outline" (click)="revert()" [disabled]="!projectForm.dirty">
      <clr-icon shape="undo"></clr-icon>Reset</button>
    <button type="button" class="btn btn-warning-outline" (click)="cancel()">
      <clr-icon shape="ban"></clr-icon>Cancel</button>
  </div>
  <div>
    <h3 style="text-align: center; margin-top:0px; align-content: center; height:40px">{{project.projectName}}</h3>
  </div>

</div>
<form (ngSubmit)="onSubmit()" name="projectForm" class="project-form" [formGroup]="projectForm" novalidate>
  <div id="cell-select" style="position: relative;">
    <table id="projectmonthlydetail" class="table table-condensed" appMultiselect multi-cell-select (clearCopy)="setNoCopy()"
      (selectedCells)="getSelectedCells($event)" id="monthlydetail">

      <thead>
        <tr appNoContextMenu>
          <th class="action-col"></th>
          <th class="fixed-col"></th>
          <th class="fixed-col"></th>
          <th class="fixed-col"></th>
          <th class="fixed-col"></th>
          <th class="rate-col"></th>
          <th class="month-col"></th>
          <th class="month-col" [contextMenu]="projectMonthMenu" [contextMenuSubject]="'0:' + pm" *ngFor="let month of projectForm.get('projectMonths').controls.slice([fcol],[lcol]); let pm = index;">{{project.startDate().setMonth(project.startDate().getMonth() + month.get('monthNo').value - 1) |date:'MMM-yy'
            }}
          </th>

        </tr>
        <tr appNoContextMenu>
          <th class="action-col">Labor</th>
          <th class="fixed-col">Role</th>
          <th class="fixed-col">Resource Name</th>
          <th class="fixed-col">Accounting Code</th>
          <th class="fixed-col">Vendor</th>
          <th class="rate-col">Rate ($/hr)</th>
          <th class="total-col">Total</th>
          <ng-container formArrayName="projectMonths">
            <th class="month-col" *ngFor="let month of projectForm.get('projectMonths').controls.slice([fcol],[lcol]); let m = index"
              [formGroupName]="m" [contextMenu]="projectMonthMenu" [contextMenuSubject]="'0:' + pm">
              <div class="select">
                <select class="form-control" formControlName="phaseId">
                  <option *ngFor="let phase of phaseList" [value]="phase.phaseId">{{phase.phaseName}}</option>
                </select>
              </div>
            </th>
          </ng-container>
        </tr>

      </thead>
      <tbody>
        <!-- Begin resource rows -->
        <ng-container formArrayName="resourceRows">
          <tr *ngFor="let resource of projectForm.get('resourceRows').controls; let i = index" [formGroupName]="i">
            <td class="action" [contextMenu]="resourceMenu" [contextMenuSubject]="i + ':0'"></td>
            <td class="fixed-col">
              <div class="select fixed-col">
                <select class="form-control" formControlName="roleId">
                  <option *ngFor="let role of roleList" [value]="role.roleId">{{role.roleName}}</option>
                </select>
              </div>
            </td>
            <td class="fixed-col">
              <input formControlName="resourceName" name="resourceName" class="form-control" type="text" />
            </td>

            <td class="fixed-col">

              <div class="select fixed-col">
                <select class="form-control" formControlName="resourceTypeId">
                  <option *ngFor="let type of resourceTypeList" [value]="type.resourceTypeId">{{type.resourceTypeName}} </option>
                </select>
              </div>
            </td>
            <td class="fixed-col">
              <input formControlName="vendor" class="form-control" type="text" />
            </td>

            <td class="rate-col">
              <input formControlName="rate" class="form-control" type="text" />
            </td>

            <td *ngIf="selectedView=='Forecast'" class="total-col">
              <input formControlName="totalPlannedEffort" class="form-control" type="number" style="text-align:right;" />
            </td>
            <td *ngIf="selectedView=='Actuals'" class="total-col">
              <input formControlName="totalActualEffort" class="form-control" type="number" style="text-align:right;" />
            </td>

            <ng-container formArrayName="resourceMonths">

              <td class="ui-state-default month-col" *ngFor="let month of resource.get('resourceMonths').controls.slice([fcol],[lcol]); let m = index"
                [formGroupName]="m" [id]="'res' + '-' + i + '-' + m" [contextMenu]="resourceCellMenu" [contextMenuSubject]="i + ':' + m">
                <ng-container *ngIf="selectedView=='Forecast'">


                  <input formControlName="plannedEffort" name="resourceMonth" style="text-align:right" class="form-control" [ngClass]="{
                    'fontcolor1':month.get('plannedEffortStyle').value === 0 && selectedView == 'Forecast',
                    'fontcolor1':month.get('plannedEffortStyle').value === 1 && selectedView == 'Forecast',
                    'fontcolor2':month.get('plannedEffortStyle').value === 2 && selectedView == 'Forecast',
                    'fontcolor3':month.get('plannedEffortStyle').value === 3 && selectedView == 'Forecast',
                    'fontcolor4':month.get('plannedEffortStyle').value === 4 && selectedView == 'Forecast',
                    'fontcolor5':month.get('plannedEffortStyle').value === 5 && selectedView == 'Forecast',
                    'fontcolor6':month.get('plannedEffortStyle').value === 6 && selectedView == 'Forecast'
                  }" type="number">

                </ng-container>
                <ng-container *ngIf="selectedView=='Actuals'">


                  <input name="resourceMonth" class="form-control" style="text-align:right" [ngClass]="{
                    'fontcolor1':month.get('actualEffortStyle').value === 0 && selectedView == 'Actuals',
                    'fontcolor1':month.get('actualEffortStyle').value === 1 && selectedView == 'Actuals',
                    'fontcolor2':month.get('actualEffortStyle').value === 2 && selectedView == 'Actuals',
                    'fontcolor3':month.get('actualEffortStyle').value === 3 && selectedView == 'Actuals',
                    'fontcolor4':month.get('actualEffortStyle').value === 4 && selectedView == 'Actuals',
                    'fontcolor5':month.get('actualEffortStyle').value === 5 && selectedView == 'Actuals',
                    'fontcolor6':month.get('actualEffortStyle').value === 6 && selectedView == 'Actuals'
                  }" formControlName="actualEffort" type="number">

                </ng-container>

              </td>
            </ng-container>

          </tr>
        </ng-container>
        <!-- end resource rows -->
        <!--  Begin fixed Cost -->
        <tr appNoContextMenu>

          <th class="action-col border-top">Fixed Fee</th>
          <th class="fixed-col border-top">Type</th>
          <th class="fixed-col border-top">Description</th>
          <th class="fixed-col border-top">Resource Type</th>
          <th class="fixed-col border-top">Vendor</th>
          <th class="rate-col border-top"></th>
          <th class="total-col border-top">Total</th>
          <th class="month-col border-top" *ngFor="let month of projectForm.get('projectMonths').controls.slice([fcol],[lcol])" [contextMenu]="projectMonthMenu"
            [contextMenuSubject]="'0:' + pm"></th>

        </tr>
        <ng-container formArrayName="fixedRows">
          <tr *ngFor="let fixedPrice of projectForm.get('fixedRows').controls; let f = index" [formGroupName]="f">
            <td class="action" [contextMenu]="fixedMenu" [contextMenuSubject]="f + ':0'">
            </td>
            <td class="fixed-col" [contextMenu]="fixedMenu" [contextMenuSubject]="f + ':0'">
              <div class="select fixed-col">
                <select class="form-control" formControlName="fixedPriceTypeId">
                  <option *ngFor="let type of fixedPriceTypeList" [value]="type.fixedPriceTypeId">{{type.fixedPriceTypeName}} </option>
                </select>
              </div>
            </td>
            <td class="fixed-col" [contextMenu]="fixedMenu" [contextMenuSubject]="f + ':0'">
              <input formControlName="fixedPriceName" name="fixedPriceName" class="form-control" type="text" />
            </td>

            <td class="fixed-col" [contextMenu]="fixedMenu" [contextMenuSubject]="f + ':0'">
              <div class="select fixed-col">
                <select class="form-control" formControlName="resourceTypeId">
                  <option *ngFor="let type of resourceTypeList" [value]="type.resourceTypeId">{{type.resourceTypeName}} </option>
                </select>
              </div>
            </td>

            <td class="fixed-col" [contextMenu]="fixedMenu" [contextMenuSubject]="f + ':0'">
              <input formControlName="vendor" class="form-control" type="text" />
            </td>
            <td class="rate-col" [contextMenu]="fixedMenu" [contextMenuSubject]="f + ':0'"></td>

            <!-- Fixed Cost Forecast Only Cells  -->

            <td *ngIf="selectedView=='Forecast'" class="total-col" [contextMenu]="fixedMenu" [contextMenuSubject]="f + ':0'">
              <input formControlName="totalPlannedCost" class="form-control" type="number" style="text-align:right" />
            </td>
            <td *ngIf="selectedView=='Actuals'" class="total-col" [contextMenu]="fixedMenu" [contextMenuSubject]="f + ':0'">
              <input formControlName="totalActualCost" class="form-control" type="number" style="text-align:right" />
            </td>
            <ng-container formArrayName="fixedPriceMonths">
              <td class="ui-state-default month-col" *ngFor="let month of fixedPrice.get('fixedPriceMonths').controls.slice([fcol],[lcol]); let fm = index"
                [formGroupName]="fm" [id]="'fix-' + f + '-' + fm">
                <ng-container *ngIf="selectedView=='Forecast'">
                  <input formControlName="plannedCost" class="form-control" type="number" style="text-align:right" [ngClass]="{
                    'fontcolor1':month.get('plannedCostStyle').value === 0 && selectedView == 'Forecast',
                    'fontcolor1':month.get('plannedCostStyle').value === 1 && selectedView == 'Forecast',
                    'fontcolor2':month.get('plannedCostStyle').value === 2 && selectedView == 'Forecast',
                    'fontcolor3':month.get('plannedCostStyle').value === 3 && selectedView == 'Forecast',
                    'fontcolor4':month.get('plannedCostStyle').value === 4 && selectedView == 'Forecast',
                    'fontcolor5':month.get('plannedCostStyle').value === 5 && selectedView == 'Forecast',
                    'fontcolor6':month.get('plannedCostStyle').value === 6 && selectedView == 'Forecast'}">
                </ng-container>
                <ng-container *ngIf="selectedView=='Actuals'">


                  <input formControlName="actualCost" class="form-control" type="number" style="text-align:right" [ngClass]="{
                    'fontcolor0':month.get('actualCostStyle').value === 1 && selectedView == 'Actuals',
                    'fontcolor1':month.get('actualCostStyle').value === 1 && selectedView == 'Actuals',
                    'fontcolor2':month.get('actualCostStyle').value === 2 && selectedView == 'Actuals',
                    'fontcolor3':month.get('actualCostStyle').value === 3 && selectedView == 'Actuals',
                    'fontcolor4':month.get('actualCostStyle').value === 4 && selectedView == 'Actuals',
                    'fontcolor5':month.get('actualCostStyle').value === 5 && selectedView == 'Actuals',
                    'fontcolor6':month.get('actualCostStyle').value === 6 && selectedView == 'Actuals',
                    'error':month.actualCostInError && selectedView == 'Actuals'}" type="number">

                </ng-container>

              </td>
            </ng-container>
            <!-- Fixed Cost Forecast Only Cells  -->
          </tr>
        </ng-container>
      </tbody>
      <!-- End Fixed Cost Rows -->
      <tfoot>

        <!--  Forecast Footer Rows -->
        <ng-container *ngIf="selectedView=='Forecast'">
          <tr appNoContextMenu>
            <th class="action-col border-top"></th>
            <th class="border-top">Total Planned Capital</th>
            <th class="fixed-col border-top"></th>
            <th class="fixed-col border-top"></th>
            <th class="fixed-col border-top"></th>
            <th class="rate-col border-top"></th>
            <th class="total-col border-top"></th>
            <ng-container formArrayName="projectMonths">
              <th class="month-col border-top" *ngFor="let month of projectForm.get('projectMonths').controls.slice([fcol],[lcol]); let te = index"
                [formGroupName]="te">
                <input type="number" style="text-align:right" formControlName="totalPlannedCapital">
              </th>
            </ng-container>
          </tr>
          <tr appNoContextMenu>
            <th class="action-col"></th>
            <th>Total Planned Expense</th>
            <th class="fixed-col"></th>
            <th class="fixed-col"></th>
            <th class="fixed-col"></th>
            <th class="rate-col"></th>
            <th class="total-col"></th>
            <ng-container formArrayName="projectMonths">
              <th class="month-col" *ngFor="let month of projectForm.get('projectMonths').controls.slice([fcol],[lcol]); let tc = index"
                [formGroupName]="tc">
                <input type="number" style="text-align:right" formControlName="totalPlannedExpense">
              </th>
            </ng-container>
          </tr>
        </ng-container>
        <!--  End of Forecast footer Rows -->
        <!--  Actuals footer Rows -->
        <ng-container *ngIf="selectedView=='Actuals'">
          <tr appNoContextMenu>
            <th class="action-col border-top"></th>
            <th class="border-top">Total Actual Capital</th>
            <th class="fixed-col border-top"></th>
            <th class="fixed-col border-top"></th>
            <th class="fixed-col border-top"></th>
            <th class="total-col border-top"></th>
            <th class="month-col border-top"></th>
            <ng-container formArrayName="projectMonths">
              <th class="month-col border-top" *ngFor="let month of projectForm.get('projectMonths').controls.slice([fcol],[lcol]); let tac = index"
                [formGroupName]="tac" [contextMenu]="projectMonthMenu" [contextMenuSubject]="'0:' + pm">
                <input type="number" style="text-align:right" formControlName="totalActualCapital">
              </th>
            </ng-container>
          </tr>
          <tr appNoContextMenu>
            <th class="action-col"></th>
            <th>Total Actual Expense</th>
            <th class="fixed-col"></th>
            <th class="fixed-col"></th>
            <th class="fixed-col"></th>
            <th class="rate-col"></th>
            <th class="total-col"></th>
            <ng-container formArrayName="projectMonths">
              <th class="month-col" *ngFor="let month of projectForm.get('projectMonths').controls.slice([fcol],[lcol]); let tae = index"
                [formGroupName]="tae" [contextMenu]="projectMonthMenu" [contextMenuSubject]="'0:' + pm">
                <input type="number" style="text-align:right" formControlName="totalActualExpense">
              </th>
            </ng-container>
          </tr>
        </ng-container>
        <!--  End of Actuals footer Rows -->
        <!--  Paginator -->
        <tr appNoContextMenu>
          <th colspan="7"></th>
          <th [appColspan]="pageSize">
            <div *ngIf="showPaginator" class="pagination">
              <a (click)="pageLeft()">
                <clr-icon shape="angle-double left"></clr-icon>
              </a>
              <a (click)="scrollLeft()">
                <clr-icon shape="angle left"></clr-icon>
              </a>
              <a style="font-size: .6rem">{{fcol + 1}}&nbsp;-&nbsp;{{lcol}}&nbsp;of&nbsp;{{projectMonths}}&nbsp;Months
              </a>
              <a (click)="scrollRight()">
                <clr-icon shape="angle right"></clr-icon>
              </a>
              <a (click)="pageRight()">
                <clr-icon shape="angle-double right"></clr-icon>
              </a>
            </div>
          </th>
        </tr>
      </tfoot>
    </table>

  </div>
</form>


<!--  Begin the context menus -->


<context-menu #resourceMenu>
  <ng-template contextMenuItem passive="true">Resource</ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="resourceAddRow()">
    Add Row
  </ng-template>
  <ng-template contextMenuItem (execute)="resourceCopyRow($event.item)">
    Copy Row
  </ng-template>
  <ng-template contextMenuItem [visible]="canPasteResourceRow" (execute)="resourcePasteRow($event.item)">
    Paste Here
  </ng-template>
  <ng-template contextMenuItem [visible]="canPasteResourceRow" (execute)="resourceInsertRow($event.item)">
    Insert Before
  </ng-template>
  <ng-template contextMenuItem (execute)="resourceDeleteRow($event.item)">
    Delete Row
  </ng-template>
</context-menu>

<context-menu #fixedMenu>
  <ng-template contextMenuItem passive="true">Fixed Fee</ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="fixedPriceAddRow()">
    Add Row
  </ng-template>
  <ng-template contextMenuItem (execute)="fixedPriceCopyRow($event.item)">
    Copy Row
  </ng-template>
  <ng-template contextMenuItem [visible]="canPasteFixedPriceRow" (execute)="fixedPricePasteRow($event.item)">
    Paste Row
  </ng-template>
  <ng-template contextMenuItem (execute)="fixedPriceDeleteRow($event.item)">
    Delete Row
  </ng-template>
</context-menu>

<context-menu #projectMonthMenu>
  <ng-template contextMenuItem passive="true">Project Month</ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="projectMonthAddMonth()">
    Add
  </ng-template>
  <ng-template contextMenuItem [visible]="!canPasteMonthCol" (execute)="projectMonthInsertMonth($event.item)">
    Insert Here
  </ng-template>
  <ng-template contextMenuItem (execute)="copyProjectMonthCol($event.item)">
    Copy
  </ng-template>
  <ng-template contextMenuItem [visible]="canPasteMonthCol" (execute)="projectMonthPasteMonth($event.item)">
    Paste Here
  </ng-template>
  <ng-template contextMenuItem [visible]="canPasteMonthCol" (execute)="projectMonthInsertandPasteMonth($event.item)">
    Insert Before
  </ng-template>
  <ng-template contextMenuItem (execute)="projectMonthDeleteMonth($event.item)">
    Delete
  </ng-template>
</context-menu>

<context-menu #resourceCellMenu>
  <ng-template contextMenuItem [visible]="canCopyCells" (execute)="copyCells($event.item)">
    Copy
  </ng-template>
  <ng-template contextMenuItem [visible]="canPasteCells" (execute)="pasteCells($event.item)">
    Paste
  </ng-template>
  <ng-template contextMenuItem [visible]="canPasteCells" (execute)="pasteCells($event.item)">
    Paste Values
  </ng-template>
  <ng-template contextMenuItem [visible]="canPasteCells" (execute)="pasteCells($event.item)">
    Paste Format
  </ng-template>
  <ng-template contextMenuItem [visible]="!canPasteCells" [subMenu]="monthSubMenu">
    Month
  </ng-template>
  <context-menu #monthSubMenu>
    <ng-template contextMenuItem [visible]="!canPasteMonthCol" (execute)="projectMonthAddMonth()">
      Add Month
    </ng-template>
    <ng-template contextMenuItem [visible]="!canPasteMonthCol" (execute)="projectMonthInsertMonth($event.item)">
      Insert Here
    </ng-template>
    <ng-template contextMenuItem [visible]="!canPasteMonthCol" (execute)="copyProjectMonthCol($event.item)">
      Copy Month
    </ng-template>
    <ng-template contextMenuItem [visible]="canPasteMonthCol" (execute)="projectMonthPasteMonth($event.item)">
      Paste Here
    </ng-template>
    <ng-template contextMenuItem [visible]="canPasteMonthCol" (execute)="projectMonthInsertandPasteMonth($event.item)">
      Insert Before
    </ng-template>
    <ng-template contextMenuItem (execute)="projectMonthDeleteMonth($event.item)">
      Delete Month
    </ng-template>
  </context-menu>
  <ng-template contextMenuItem [visible]="!canPasteCells" [subMenu]="resourceSubMenu">
    Resource
  </ng-template>
  <context-menu #resourceSubMenu>
    <ng-template contextMenuItem [visible]="!canPasteResourceRow" (execute)="resourceAddRow()">
      Add Row
    </ng-template>
    <ng-template contextMenuItem [visible]="!canPasteResourceRow" (execute)="resourceAddRow($event.item)">
      Insert Row Here
    </ng-template>
    <ng-template contextMenuItem  [visible]="!canPasteResourceRow" (execute)="resourceCopyRow($event.item)">
      Copy Row
    </ng-template>
    <ng-template contextMenuItem [visible]="canPasteResourceRow" (execute)="resourcePasteRow($event.item)">
      Paste Here
    </ng-template>
    <ng-template contextMenuItem [visible]="canPasteResourceRow" (execute)="resourceInsertRow($event.item)">
      Insert Before
    </ng-template>
    <ng-template contextMenuItem (execute)="resourceDeleteRow($event.item)">
      Delete Row
    </ng-template>
  </context-menu>
</context-menu>
